.heading{
    margin: auto;
    text-align: center;

}
.contact h2{
    margin-bottom: 2rem;
}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem ;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
}


.contact form .input-box input::placeholder{
    font-weight: 900;
}

.contact form .input-box input,
.contact form textarea{
    width: 80%;
    padding: 1.1rem;
    font-size: 1.1rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem 0;
    resize: none;
}

.contact form .input-box input{
    width: 49%;
}

.contact form .btn{
    margin-top: 2rem;
    cursor: pointer;
}
